
.checked {
    color: #eeac82;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.text-left {
    text-align: left;
    width: 10rem;
}
th {
    font-weight: 100 !important;
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2d7;
}
input[type="radio"] {
    margin: 0;
}
.submit-form {
    border: 1px solid #e2e2e2; 
    padding: 10px 15px;
    font-family: 'Times New Roman', Times, serif;
}

/* Github profile */
.profile {
    display: block;
    margin: auto;
    transition: background-color 300ms;
}
.nav-container {
    background-color: #353535;
    height: 36.25rem;
    border-radius: 2rem;
}

.article-box {
    background-color: #353535;
    height: 9rem;
    width: 13rem;
    border-radius: 1rem;
}

.search-box {
    background-color: #353535;
    height: 3rem;
    border-radius: 0.5rem;
    width: 40rem;
    text-align: left;
    padding: 0.5rem 1rem;
    color: #e2e2e2;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.search-text {
    color: #9c9c9c;
    font-family: monospace;
    font-size: x-large;
}
.article-rectangle {
    background-color: #353535;
    height: 12.5rem;
    border-radius: 1rem;
}
.footer-box {
    width: 100%;
    background-color: #cad2c5;
    height: 1rem;
}